*{padding: 0; margin: 0;}
body{
    font-family: 'DotGothic16', sans-serif;
    color: #FFFFFF;
    background-color: #2a003f;
}

body::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en horizontal */
    height: 100%;    /* Tamaño del scroll en vertical */
}
/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
body::-webkit-scrollbar-thumb {
    background: rgba(250, 230, 45, 0.5);
    border-radius: 4px;
}
/* Cambiamos el fondo cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
    background: rgba(250, 230, 45, 0.7);;
}
/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
    background-color: #fae62d;
}
/* Se le quita el fondo al track */
body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    border-radius: 4px
}
/* Se define el tamaño de ancho maximo para el contenido del sitio */
.limit-container{
    margin: auto;
    width: 900px;
}

/* Se definen todos los estilos del banner */ 
.banner-container{
    width: 100%;
    height: 650px;

    background-image: url(img/banner-image.gif);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    border-bottom: 1px solid #190025;
}
.textos-container{
    height: 650px;
}
.textos-container__titulo{
    padding-top: 200px;
    color: #FFFFFF;
    font-size: 60px;
    letter-spacing: 5px;
    text-shadow: -3px 3px 0px #ff8800;
    padding-bottom: 50px;
}
.textos-container__button{
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px 30px;
    border: 2px solid #fcc000;
    transition: all 0.5s;
}
.textos-container__button:hover{
    color: #190025;
    font-size: 25px;
    border: 5px solid #fcc000;
    background-color: #fae62d;
}
.titulo-container{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}
.sistemaSolar-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px;
}
.sistemaSolar-img{
    width: 100%;
    height: 100%;
    grid-column: 1;
    display: flex;
}
.sistemaSolar-img img{
    height: 100%;
    margin: auto;
}
.sistemaSolar-text{
    width: 100%;
    height: 100%;
    grid-column: 2;
    box-sizing: border-box;
    padding: 20px;
    text-align: justify;
}
.titulo-planetas{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}
.planetas-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(200px);
    grid-gap: 20px;
}
.planeta-tarjeta{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 50px;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: all 0.5s;
}
.planeta-tarjeta:hover{
    box-sizing: border-box;
    border: 1px solid greenyellow;
    box-shadow: 0 0 20px #4f9;
}
.planeta-tarjeta__img{
    width: 100%;
    display: flex;
}
.planeta-tarjeta__img img{
    height: 200px;
    margin: auto;
}